.top-nav {
  background-color: #f2f2f2;
}

.custom-rightalign {
  text-align: right;
}

.avatar-image {
  max-width: 80px;
  margin-top: 20px;
}

mark {
  background-color: #89DDE5;
}

.lead {
  max-width: 65ch;
}

.lead p {
  margin: 30px 0;
}

.featured-image {
  max-width: 180px;
  margin: 0 auto;
}

.about-me {
  margin-top: 40px;
}

.about-me-header {
  text-align: center;
}

.featured-work {
  background-color: #f5f5f5;
  padding-bottom: 20px;

}

.featured-work-heading {
  padding-bottom: 40px;
  text-align: center;
}

/*Footer content */

.footer-social {
  text-align: center;
  margin-bottom: 30px;
  /*border-top: 1px solid #eee;*/
  padding: 20px;
}

.footer-social a {
  padding-right: 25px;
  color: inherit;
}

.footer-social a:hover {
  color: #89DDE5;
}

/*Media queries*/

@media screen and (max-width: 767px) {
  .avatar-image {
    margin: 0 auto;
    margin-top: 20px;
  }

  .header-name {
    text-align: center;
  }
}
